// bower:scss
@import "../bower_components/bourbon/dist/_bourbon.scss";
@import "../bower_components/neat/app/assets/stylesheets/neat";
// endbower




/* =Typography */

/* =Basics */
html {
}

body {
    @include background(url('../images/bg.png'), center no-repeat);
    background-size: cover;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

/* =Grid */
section {
    @include outer-container;
}

/* =Splash Page */
.center-unit {
    @include span-columns(10);
    @include shift(1);
    //width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    text-align: center;
    background: rgba(255,255,255,0.25);
    border-radius: 6px;
    margin-top: 7.5%;
    color: #fff;
    padding: 20px;
    padding-top: 60px;
    h1 {
        font-size: 60px;
        line-height: 1;
        letter-spacing: -1px;
    }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* =Mail Subscription Form */
#mc_embed_signup {
    @include fill-parent;
    //clear: left;

    #mc-embedded-subscribe-form {
      @include fill-parent;
      display: inline-block;
    }

    div {
      display: inline;
    }
    .mc-field-group {
      @include fill-parent;
      margin: 0 auto;
      text-align: center;
      height: 100px;
      display: inline-block;
      float: left;
    }

    input {
        color: #000;
        //display: inline;
        &.email {
          width: 50%;
          clear: right;
          padding: 4px;
        }

        &.button {
          width: 20%;
          clear: both;
          padding: 6px;
        }
    }
}
